{# Only  gets imported in Linux/WSL #}
#!/usr/bin/env bash

#Import bash_rc
[[ -f ~/.bashrc ]] && . ~/.bashrc

#Path PIP
export PATH=$PATH:$HOME/.local/bin

#Set alias for gnu tools
alias ls="ls --color -liash"
alias grep="grep --color"
alias fgrep="fgrep --color"
alias egrep="egrep --color"
alias bat="batcat"
alias fd="fdfind --color always"
