#!/usr/bin/env bash
{% if ansible_facts['distribution'] != "MacOSX" %}
## Fuzzy finder settings
source /usr/share/fzf/key-bindings.bash
{% if ansible_facts['distribution'] != "Debian" %}
source /usr/share/fzf/completion.bash 2> /dev/null
{% endif %}
{% endif %}
{% if ansible_facts['distribution'] == "MacOSX" %}
# Setup fzf
# ---------
if [[ ! "$PATH" == */usr/local/opt/fzf/bin* ]]; then
  export PATH="${PATH:+${PATH}:}/usr/local/opt/fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "/usr/local/opt/fzf/shell/completion.bash" 2> /dev/null

# Key bindings
# ------------
source "/usr/local/opt/fzf/shell/key-bindings.bash"
{% endif %}

export FZF_DEFAULT_OPTS='
  --color fg:#ebdbb2,bg:#282828,hl:#fabd2f,fg+:#ebdbb2,bg+:#3c3836,hl+:#fabd2f
  --color info:#83a598,prompt:#bdae93,spinner:#fabd2f,pointer:#83a598,marker:#fe8019,header:#665c54
'
